body{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    
    }
    header {
        
        color:white;
        margin: 0px;
        padding: 0px;    
        
    }
    h1,h2,h3,h4,h5 {
  margin: 0;
    }
.header img{
    float: left;
    width:100px;
    height:100px;
    padding:10px;
}
.header h1{
    text-align: center;
    padding-top: 50px;
    font-size:2.5em;
    
}
.head-img{
    position: relative;
    display: inline-block;
}
.head-img .text-block {
    width:100%;
    height:auto;
    position: absolute;
    bottom: 0;
    color:white;
    background-color: rgba(66, 63, 63, 0.966);
  }
  
.nav ul{
    list-style-type: none;
    display: inline-block;
    
    }
.nav li{
    float: left;
    padding:20px 100px;
    margin-top: -15px;
    font-size:1.2em;
    font-weight: bold;
    }
    
.top-news {        
    padding: 5px;
       
      }
.top-news ul{
    list-style-type: none;
    }
.news_title {
    font-weight: bold;
    border-bottom: 1px solid #E0E0E0;
    line-height: 24px;
    font-size: 1.4em;
      }      
.top-news_item {
    text-align: left;
    padding: 1em 0;
    line-height: 20px;
    border-bottom: 1px solid #E0E0E0;
      }
.top-news_item:before {
    content: "➤";
      }
.news_more {
    float: right;
    font-size: .8em;
    color: #333;
    text-decoration: none;
        
    }
      
.table-score{
    width: 100%;
    }
.table-score th,
.table-score td {
    padding: 1em; 
    }
.table-score tr:nth-child(odd) td {
    background-color: rgb(231, 226, 226);
    }
.table-score tr:nth-child(even) td {
    background-color: #fff;
    }


.weather {
    padding: 1.5em;
    }
.weather .location{
    display: block;
    font-weight: 300;
    font-size: 1.5em;
    }
.weather .session {
    font-size: 1.2em;
    }
.weather .today-weather {
    width: 60%;
    vertical-align: middle;
    }
.weather .tempature {
    font-size: 1.5em;
    }
.weather-report {
    list-style-type: none;
    overflow: hidden;
    }
.weather .weather-img {
    float: left;
    vertical-align: middle;
    display: inline-block;
    width: 20%;
    text-align: center;            
    }
.weather .weather-img span {
    display: block;
    }

.snippet {
    clear: both;
    margin: 24px 0;
    }
.snippet-img {
    width: 150px;
    float: left;
    margin-right: 1em;
    margin-bottom:1em;
    }
.footer {
    border-top: 1px solid #E0E0E0;
    text-align: center;
    width: 100%;
    font-weight: bold;
    }
      
.footer li {
    display: inline-block;
    margin: 0 1em;
    }
      
.footer a {
    text-decoration: none;
    color: #333;
    padding: 0.5em;
    }
          
          
          
          
        
        
          
          

    